@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Condensed');


body {
	
    height: 2000px;
	font-family: 'Rock Salt', cursive;
}

#mySection3 ~ .myClass , li, nav{
    background-color:yellow;
    padding:10px;
}

header {
    background-color: aquamarine;
}

header:hover {
    background-color: chartreuse;
}

#mySection1 {}

#mySection2 {}

#mySection3 {}
