@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Condensed');



#mySection1 {
	border:1px solid black;
	height:300px;
	width:250px;
	overflow:auto;
}

#mySection2 {
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

#mySection3 {}
